.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    padding: 0.5em;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: .1);
    color: $black;
    &.-primary {
        background-color: $primary-light;
    }
    &.-secondary {
        background-color: $secondary-light;
    }
}